In [ ]:
import pandas
mydataset = {'cars':["BMW","VOLVO","FORD"],'Passings':[3,7,2]}
myvar = pandas.DataFrame(mydataset)
print(myvar)

    cars  Passings
0    BMW         3
1  VOLVO         7
2   FORD         2

In [ ]:
data = {'fruits': ["apple","banana","cherry","Durian"],'values':[2,4,6,8]}
myvar = pandas.DataFrame(data)
print(myvar)

   fruits  values
0   apple       2
1  banana       4
2  cherry       6
3  Durian       8

In [ ]:
print(pandas.__version__)

2.2.2

In [ ]:
a=[2,3,5,67]
v=pandas.Series(a)
print(v)

0     2
1     3
2     5
3    67
dtype: int64

to set index manually

In [ ]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s=pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [ ]:
data =[['Alex',10],['BOB',12],['CLARKE',13]]
d=pd.DataFrame(data)
df=pd.DataFrame(data,columns=['Name','Age'])
print(d)
print(df)

        0   1
0    Alex  10
1     BOB  12
2  CLARKE  13
     Name  Age
0    Alex   10
1     BOB   12
2  CLARKE   13

In [ ]:
data = {'Name': ["Mahesh","RIya","manoj","sandeep","Sejal"],'Subject_Marks':[[78,65,89],[80,81,89],[34,56,76],[23,45,67],[12,34,56]]}
myvar = pandas.DataFrame(data)
print(myvar)

      Name Subject_Marks
0   Mahesh  [78, 65, 89]
1     RIya  [80, 81, 89]
2    manoj  [34, 56, 76]
3  sandeep  [23, 45, 67]
4    Sejal  [12, 34, 56]

In [ ]:
data = {'Days': [1,2,3,4,5,6,7,8,9,10],'calories':[420,380,390,419,399,378,391,401,416,391]}
myvar = pandas.DataFrame(data)
print(myvar)
avg=np.average(data['calories'])
print(avg)

NameError: name 'pandas' is not defined

In [ ]:
df=pd.read_csv('data.csv')

# ***STUDY HOW TO READ AN EXCEL FILE IN COLAB***